/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  max-width: 100%; /* You can never be bigger than your parent. This will stop the dreaded horizantal scroll bar.*/
  // border: 1px solid grey; /* Take off when you are satisfied with the result*/
}

/* General Styles */

* {
  border: 1px solid black;
}

html {
  font-size: 62.5%; /*This makes 1 rem = 10px and is a scalable unit*/
}

body {
  line-height: 1.5;
  font-size: 1.8rem; /* 18px */
  color: #4f4f4f;
}

h1,
h2,
h3 {
  letter-spacing: 3px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #4f4f4f;
}

section {
  padding: 4% 0;
}

/* Header */
.header {
  display: flex;
  padding-right: 2%;
  padding-left: 2%;
}

.header div {
  flex-grow: 1;
}

.headerName h1 {
  padding-left: 3%;
}

.headerNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*Home page login*/
.login {
  margin-left: 4%;
  margin-right: 75%;
}

.homePageLogin {
  display: flex;
  flex-direction: column;
}

.loginRegister {
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 4px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
  margin-top: 2%;
  margin-right: 75%;
}
.loginRegister:hover {
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}
.loginRegister:active {
  position: relative;
  top: 1px;
}

/*Sign Up*/
.signUp {
  margin-left: 4%;
  margin-right: 75%;
}

.signUp form {
  display: flex;
  flex-direction: column;
}

/* Pickem Game */

.schedule {
  margin: 5% 20%;
}

.gameWeek {
  display: flex;
  flex-direction: row;
}

.gameWeek div {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  font-size: 1.5rem;
}

.gameWeek:nth-child(even) {
  background-color: lightgray;
}

// .gameWeek div:last-child {
//   background-color: white;
// }

.heading {
  display: flex;
}

.heading div {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  text-transform: uppercase;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pickEm {
  box-shadow: 0px 1px 0px 0px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 6px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  margin: 2px auto;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  min-width: 40%;
}

.pickEm:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.pickEm:active {
  position: relative;
  top: 1px;
}

.pick {
  display: flex;
  flex-direction: row;
  margin-right: 80%;
  margin-left: 5px;
}

.pick div {
  flex-grow: 1;
  flex-basis: 0;
  text-align: left;
  text-transform: uppercase;
}

.submitPicksButton {
  margin-left: 3px;
}

//resume
.resume {
  margin: 1% 1%;
}

.headshot {
  border-radius: 50%;
  width: 10%;
}

/*Chess Game*/
.dark {
  background-color: black;
}

.light {
  background-color: white;
}

.gameArea {
  display: flex;
}

/*Resume */

.resume {
  margin: 1% 15%;
}

.headshot {
  border-radius: 50%;
  width: 10%;
}

.header {
  display: flex;
}

// .intro {
//   display: flex;
// }
.headerImage {
  display: inline-block;
}

.resume h1 {
  font-size: 2.5rem;
}

.resume h2 {
  font-size: 2rem;
}


.resume p {
  font-size: 1.2rem;
}

.degree {
  font-weight: bold;
}

.school {
  font-style: italic;
}

.company {
  display: flex;
  justify-content: space-between;
}

.company.name {
  font-weight: bold;
}

.title {
  font-style: italic;
}


.bold {
  font-weight: bold;
}

/*ChessBoard part du*/
#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  background-color: #4b8f29;
  width: 800px;
  height: 800px;
}

.black-tile {
  background-color: #4b8f29;
}

.white-tile {
  background-color: cornsilk;
}